@font-face{
    font-family: Circular;
    src:url(~@/assets/fonts/AirbnbCerealBook.ttf);
}
@font-face{
    font-family: Circular-bold;
    src:url(~@/assets/fonts/AirbnbCerealBold.ttf);
}
@font-face{
    font-family: Circular-light;
    src:url(~@/assets/fonts/AirbnbCerealLight.ttf);
}
@font-face{
    font-family: Circular-medium;
    src:url(~@/assets/fonts/AirbnbCerealMedium.ttf);
}