
// COLOR PALETTE

$clr1: #ce2e6c;
$btn-color: #FC355B;
$secondary-font:#c7c5c5;
// LAYOUT BREAKPOINTS

$break-narrow: 400px;
$break-normal: 700px;
$break-medium:800px;
$break-medium-large:900px;
$break-wide: 1100px;
$break-ultra-wide: 1600px;
$main-layout:1100px;
$list-layout:1364px;